  <!-- footer start -->
  <footer class="footer js-scroll js-show js-slideTop">
    <div class="container_lg">
      <div class="row">
        <div class="col-lg-4">
          <div class="footer__logos">
            <a href="./" class="footer__logo">
              <img src="img/logo.png" alt="Bulk Kratom Now">
            </a>
            <ul class="footer-payment__list">
              <li class="footer-payment__item">
                <img src="img/footer-logo1.png" alt="visa">
              </li>
              <li class="footer-payment__item">
                <img src="img/footer-logo2.png" alt="mastercard">
              </li>
              <li class="footer-payment__item">
                <img src="img/footer-logo3.png" alt="echeck">
              </li>
              <li class="footer-payment__item">
                <img src="img/footer-logo4.png" alt="bitcoin">
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="footer-row">
            <div class="footer-col">
              <div class="footer-box">
                <div class="footer__title">
                  <h6 class="title-6">Quick Links</h6>
                </div>
                <ul class="footer-list">
                  <li class="footer-list__item">
                    <a href="#" class="footer-list__link">Buy Kratom</a>
                  </li>
                  <li class="footer-list__item">
                    <a href="#" class="footer-list__link">Contacts</a>
                  </li>
                  <li class="footer-list__item">
                    <a href="#" class="footer-list__link">About Us</a>
                  </li>
                  <li class="footer-list__item">
                    <a href="#" class="footer-list__link">Home</a>
                  </li>
                  <li class="footer-list__item">
                    <a href="#" class="footer-list__link">F.A.Q</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="footer-col">
              <div class="footer-box">
                <div class="footer__title">
                  <h6 class="title-6">Delivery</h6>
                </div>
                <ul class="footer-list">
                  <li class="footer-list__item">
                    <a href="#" class="footer-list__link">Refund & Shipping Policy</a>
                  </li>
                  <li class="footer-list__item">
                    <a href="#" class="footer-list__link">Affiliate Program</a>
                  </li>
                  <li class="footer-list__item">
                    <a href="#" class="footer-list__link">Terms of Service</a>
                  </li>
                  <li class="footer-list__item">
                    <a href="#" class="footer-list__link">Privacy Policy</a>
                  </li>
                  <li class="footer-list__item">
                    <a href="#" class="footer-list__link">My Account</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="footer-col">
              <div class="footer-box">
                <div class="footer__title">
                  <h6 class="title-6">Get in Touch</h6>
                </div>
                <div class="footer__content">
                  <ul class="footer-list">
                    <li class="footer-list__item">
                      <p>Colorado Springs,</p>
                    </li>
                    <li class="footer-list__item">
                      <p>CO, 80915</p>
                    </li>
                    <li class="footer-list__item">
                      <a href="#" class="footer-list__link"><b>(833) 355-0223</b></a>
                    </li>
                    <li class="footer-list__item">
                      <a href="#" class="footer-list__link">sales@bulkkratomnow.com</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-col">
              <div class="footer-box">
                <div class="footer__title">
                  <h6 class="title-6">Hours of Operation</h6>
                </div>
                <ul class="footer-time">
                  <li class="footer-time__item">
                    <p>Mon - Fri:</p>
                  </li>
                  <li class="footer-time__item">
                    <p>9:30am - 5:30pm</p>
                  </li>
                  <li class="footer-time__item">
                    <p>Sat - Sun:</p>
                  </li>
                  <li class="footer-time__item">
                    <p>9:30am - 1:30pm</p>
                  </li>
                </ul>
                <ul class="footer-social">
                  <li class="footer-social__item">
                    <a href="#" class="footer-social__link">
                      <img src="img/svg/twitter.svg" alt="twitter">
                    </a>
                  </li>
                  <li class="footer-social__item">
                    <a href="#" class="footer-social__link">
                      <img src="img/svg/facebook.svg" alt="facebook">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_bottom">
        <div class="row">
          <div class="col-md-6 order-1 order-md-0">
            <div class="footer-copyright">
              <p>&copy; 2021 Bulk Kratom Now. All Rights Reserved.</p>
              <a href="#" class="disclaimer-link">Disclaimer</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="footer-varified">
              <a href="https://kratom.org/" target="_blank">kratom.org </a>
              <p>Verified Vendor</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="disclaimer js-scroll js-show js-fadeIn">
    <div class="container_lg">
      <div class="row">
        <div class="col">
          <p><b>Disclaimer:</b> Our products are not for use by or sale to persons under the age of 18. These statements
            have
            not been
            evaluated by the FDA. Our products are not intended to diagnose, treat, cure or prevent any disease. We make
            no
            representations as to intended use or suitability for use. Handle our products at your own risk. We do not
            ship to
            the
            following states, cities and counties in the US where Kratom is banned: Alabama, Arkansas, Indiana, Rhode
            Island,
            Tennessee, Vermont, Wisconsin. Sarasota County, Union County, Denver, San Diego, Jerseyville IL, Oceanside
            CA,
            Ontario
            OR. Furthermore, Kratom is also banned in the following countries where shipment cannot be executed:
            Australia,
            Burma,
            Denmark, Finland, Israel, Lithuania, Malaysia, Myanmar, Poland, Romania, South Korea, Sweden, Thailand,
            United
            Kingdom,
            Vietnam.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- footer end -->