<!-- header start -->
<header class="header header_home js-show-onload js-show js-slideDown">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="header-row">
          <div class="header-top">
            <button class="burger js-burger">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </button>
            <a href="./" class="logo">
              <img src="img/logo.png" alt="Bulk Kratom Now">
            </a>
            <button class="header-btn header-btn__cart js-modal-target" data-src="modalCart">
              <img src="img/svg/cart.svg" alt="cart">
            </button>
          </div>
          <div class="header__content">
            <button class="header-btn header-btn__login js-modal-target" data-src="modalLogin">
              <img src="img/svg/login.svg" alt="login"><span>Log In/Up</span>
            </button>
            <div class="header-contacts">
              <a href="tel:8333550223" class="header-contacts__link">(833) 355-0223</a>
              <a href="mailto:" class="header-contacts__link">Send email</a>
              <!-- <a href="skype:" class="header-contacts__link">Call in skype</a> -->
            </div>
            <ul class="header-social">
              <li class="header-social__item">
                <a href="#" class="header-social__link">
                  <img src="img/svg/twitter.svg" alt="twitter">
                </a>
              </li>
              <li class="header-social__item">
                <a href="#" class="header-social__link">
                  <img src="img/svg/facebook.svg" alt="facebook">
                </a>
              </li>
            </ul>
            <nav class="nav">
              <ul class="nav-menu">
                <li class="nav-menu__item active"><a href="#" class="nav-menu__link">Home</a></li>
                <li class="nav-menu__item"><a href="#" class="nav-menu__link">Products</a></li>
                <li class="nav-menu__item"><a href="contacts.html" class="nav-menu__link">Contacts</a></li>
                <li class="nav-menu__item"><a href="#" class="nav-menu__link">F.A.Q</a></li>
                <li class="nav-menu__item"><a href="#" class="nav-menu__link">Our company</a></li>
                <li class="nav-menu__item"><a href="#" class="nav-menu__link">About Kratom</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header end -->